.container {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  height: 3.125rem;
  background-color: var(--black);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: end;
}

.content {
  padding-inline: 4.375rem;
}

.list {
  display: flex;
  gap: 2.5rem;
}

.item {

}

.link {
  font-size: 20px;
  font-weight: 900;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.link:hover {
  box-shadow: inset 140px 0 0 0 var(--red-500);
  color: var(--black);
}